<footer class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-6 py-5 my-5 border-top">
        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                <i class="fa-solid fa-basketball fa-2xl" style="margin: 10px;"></i>
            </a>
            <p class="text-body-secondary">&copy; 2024</p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
          <a href="" class="nav-link p-0 text-body-secondary"><h5>聯絡我們</h5></a>
        </div>

        <div class="col mb-3">
          <a href="#" class="nav-link p-0 text-body-secondary"><h5>媒體合作</h5></a>
        </div>

        <div class="col mb-3">
          <a href="#" class="nav-link p-0 text-body-secondary"><h5>服務條款</h5></a>
        </div>

        <div class="col mb-3">
          <a href="#" class="nav-link p-0 text-body-secondary"><h5>隱私權規範</h5></a>
        </div>
    </div>
</footer>