<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
  <div class="sidebar">

    <!-- Brand Logo -->
    <a href="#" class="brand-link" style="text-decoration: none;">
      <i class="fas fa-basketball-ball fa-lg mx-2"></i>
      <span class="brand-text font-weight-light">
        <h4 class="mb-0" style="display: inline-block; vertical-align: bottom;">NGFW管理系統</h4>
      </span>
    </a>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library -->
        <li class="nav-item member_management">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p class="pl-1">
              使用者資料管理
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item user_management">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>使用者角色管理</p>
              </a>
            </li>
            <li class="nav-item staff_management">
              <a href="./staff/staff_info.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>工作人員角色管理</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item team_managemaent">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-sitemap"></i>
            <p class="pl-1">
              球隊資料管理
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview team_list">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>球隊名單</p>
              </a>
            </li>
            <li class="nav-item player_list">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>球員名單</p>
              </a>
            </li>
            <li class="nav-item cl_list">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>啦啦隊名單</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item game_management">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p class="pl-1">
              賽事資料管理
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview game_date">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>賽程日期</p>
              </a>
            </li>
            <li class="nav-item game_info">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>賽事資訊</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item article_management">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-newspaper"></i>
            <p class="pl-1">
              文章/新聞管理
            </p>
          </a>
        </li>
        <li class="nav-item order_management">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-file-alt"></i>
            <p class="pl-1">
              訂單管理
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview order_list">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>訂單總覽</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item item_management">
          <a href="estoreadmin.html" class="nav-link">
            <i class="nav-icon fas fa-tag"></i>
            <p class="pl-1">
              商品管理
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview all_items">
            <li class="nav-item">
              <a href="/estoreadmin/allitems.html" class="nav-link item_management">
                <i class="far fa-circle nav-icon"></i>
                <p>平台商品</p>
              </a>
            </li>
            <li class="nav-item item_manage">
              <a href="/estoreadmin/additem.html" class="nav-link item_management">
                <i class="far fa-circle nav-icon"></i>
                <p>新增商品</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item cs_management">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-headphones"></i>
            <p class="pl-1">
              客服
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview cs_chat">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>即時客服</p>
              </a>
            </li>
            <li class="nav-item cs_list">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>客服列表</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>